<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="screen" /> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/about/about.css">
  <title>HopHacks</title>
</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/sunLogo.png" width="21%">Hyperion</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Welcome</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">How It Works<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/technology">Technology</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- PART ONE -->
  <div class="row">
    <div class="col" id="one">
      <h1 class="text-center" id="firstOne">How It Works</h1>
      <p class="text-center">Hyperion makes it easy for party A to gain energy they need, and party B to make money off of excess energy they don't</p>
      <!-- <i class="fa fa-television"></i> -->
    </div>
  </div>

  <!-- PART TWO -->
  <div class="row">
    <div class="col-sm-8" id="two">
      <h1 class="text-center" id="firstTwo">Hype Tokens</h1>
      <div class="container">


        <p>Hyperion issues smart contracts called <span>Hype</span> Tokens(), which act as the medium of exchange and reward for the global community of Hyperion supporters.</p>
        <p>You can use Hype Tokens exclusively to use the energy you bought.</p>
      </div>
    </div>
    <div class="col-sm-4">
            <img src="/images/sunLogo.png">
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    2018 C Hyperion. All Rights Reserved.
  </div>

</body>

</html>
