<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="screen" /> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/technology/technology.css">
    <title>HopHacks</title>
  </head>
  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/images/sunLogo.png" width="21%">Hyperion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Welcome</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">How It Works</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/technology">Technology<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/enter">Sign up/Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- PART ONE -->
    <div class="row">
      <div class="col" id="one">
        <h1 class="text-center" id="firstOne">Technology</h1>

<!-- LIST -->

        <ul class="text-center" id="listOne">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Bootstrap 4</li>
        </ul>

        <ul class="text-center" id="listTwo">
          <li>Node.js</li>
          <li>Express</li>
          <li>MySQL</li>
          <li>Solidity</li>
        </ul>

  </div>

      </div>
    </div>

    <!-- FOOTER -->
    <div class="row">
      <div class="col">
        <div class="footer">
          2018 © Hyperion. All Rights Reserved.
        </div>
      </div>
    </div>

  </body>
</html>
