<html>
<head>
<script src="javascripts/userLocation.js">
</script>
</head>
<body>
  <h1>Solar power transaction</h1>
<input type="button" onclick="getLocationLat()" value="Click Me Map!">
<div id="mapholder">

</div>
	<div class="container">
		<div class="header-top">
			<h1><%= user['Name'] %></h1>
			<h1><%= user['Address'] %></h1>
		</div>
		
	</div>
</div>
<!--header-->
<div class="content">
	<div class="program">
		<div class="container">
			<h2 class="tittle">Example Profile<br></h2>
			<img style="border-radius: 50%; margin: 1em auto" width="300vw" src="images/guy.jpeg" class="img-responsive" alt=""/>
			<div class="program-grids">
				<div class="col-md-4 program-grid">
					<div class="program-top1">
						<h3>Reviews</h3>
						<ul>
							<li><em>Example Artist</em> - <strong>4.4 / 5.0</strong></li>
							<li><em>Example Artist 2</em> - <strong>3.2 / 5.0</strong></li>
							<li><em>Example Artist 3</em> - <strong>1.4 / 5.0</strong></li>
						</ul>
					</div>
					<div class="program-top1">
						<h3>Info</h3>
						<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span> New York</p>
						<p>Professional Tattoo Reviewer</p>
					</div>
				</div>
				<div class="col-md-8 program-grid1">
					<h3>Tattoos</h3>
					<div class="helps-grids">
						<div class="col-md-6 helps-grid">
							<img src="images/iloveyou.jpg" class="img-responsive" alt=""/>
							<h4>Heart Tattoo</h4>
							<p><strong>Artist</strong> - Example Artist</p>
						</div>
						<div class="col-md-6 helps-grid">
							<img src="images/snowflakes.jpg" class="img-responsive" alt=""/>
							<h4>Snowflakes</h4>
							<p><strong>Artist</strong> - Example Artist 2</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="helps-grids">
						<div class="col-md-6 helps-grid">
							<img src="images/p8.jpg" class="img-responsive" alt=""/>
							<h4>Child Protection</h4>
							<p>Lorem Ipsum available, but the majority have suffe red by injected humour, randomised words which don't look even.</p>
						</div>
						<div class="col-md-6 helps-grid">
							<img src="images/p9.jpg" class="img-responsive" alt=""/>
							<h4>Child Protection</h4>
							<p>Lorem Ipsum available, but the majority have suffe red by injected humour, randomised words which don't look even.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="helps-grids">
						<div class="col-md-6 helps-grid">
							<img src="images/p10.jpg" class="img-responsive" alt=""/>
							<h4>Child Protection</h4>
							<p>Lorem Ipsum available, but the majority have suffe red by injected humour, randomised words which don't look even.</p>
						</div>
						<div class="col-md-6 helps-grid">
							<img src="images/p11.jpg" class="img-responsive" alt=""/>
							<h4>Child Protection</h4>
							<p>Lorem Ipsum available, but the majority have suffe red by injected humour, randomised words which don't look even.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="partner">
		<div class="container">
			<h3 class="tittle"> Our Partner</h3>
			<div class="partner-grids">
				<div class="col-md-3 partner-grid">
					<div class="partners">
						<div class="partner-left">
							<i class="glyphicon glyphicon-qrcode" aria-hidden="true"></i>
						</div>
						<div class="partner-right">
							<h4>company name</h4>
							<p>company description</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-3 partner-grid">
					<div class="partners">
						<div class="partner-left">
							<i class="glyphicon glyphicon-certificate" aria-hidden="true"></i>
						</div>
						<div class="partner-right">
							<h4>company name</h4>
							<p>company description</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-3 partner-grid">
					<div class="partners">
						<div class="partner-left">
							<i class="glyphicon glyphicon-star" aria-hidden="true"></i>
						</div>
						<div class="partner-right">
							<h4>company name</h4>
							<p>company description</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-3 partner-grid">
					<div class="partners">
						<div class="partner-left">
							<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>
						</div>
						<div class="partner-right">
							<h4>company name</h4>
							<p>company description</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</body>
</html>
