<html>
<head>
<script src="javascripts/userLocation.js">
</script>
</head>
<body>
  <h1>HEYYEYEYEYEYEYEY This is a test</h1>
<input type="button" onclick="getLocationLat()" value="Click Me Map!">
<div id="mapholder">

</div>
</body>
</html>
