/* Beginning */

html, body{
  overflow-x: hidden;
  background: #f8f9fa;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Navbar Stage */

.container .navbar-brand {
  font-size: 3em;
}

/* Stage One */

#one{
  height: 1000px;
  background-image: url(/images/technology.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#one h1 {
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px 8px black;
}

#one p{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 8px black;
}


#one #firstOne{
  padding-top: 10%;
  margin-bottom: 5%;
}

/* List */

#one ul {
  color: white;
  list-style: none;
  display: inline-block;
  margin-top: 3%;
}

#one #listOne {
  padding-left: 32.5%;
  padding-right: 5%;
}

#one ul li {
  padding: 22px;
  font-size: 2em;
  text-shadow: 2px 2px 8px black;
  transition: all .2s ease-in-out;
}

/* #one ul li:hover {
  transform: scale(1.5);
} */


/* Footer */

.footer {
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 10px;
  letter-spacing: 3px;
}
